$animTime: 1s;
$sliderReadyTrans: all 
$animTime/2 $animTime;
@media only screen and (max-width: 320px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
#pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    }
 #bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
 #greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
#redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }

  #moveRight{
    right: 1%;
    position: absolute;
    z-index: 300;
    top: 31%;
  }
  #moveLeft{
    position: absolute;
    z-index: 300;
    top: 31%;
  }
    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 18px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2%;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 12px;
        height: 31px;
        width: 150px;
        text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
    }
    .carousel-item-image{
        z-index: 145;
        width: 93%;
        padding-left: 9%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .item_description{
        font-family: Omnes;
    color: white;
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 7%;
    }
    .bottomProduct{
        display: flex;
        flex-direction: column;
    }
    .product-qty{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        border-radius: 37px;
        height: 44px;
        border: none;
        display: flex;
        color: white;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
    }
    .ProductInfo{ 
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap{
        width: 90%;
        padding-top: 9%;
    }
    .slider__slide .s--active{
        translate: 0; 

    }
    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &.s--active {
          pointer-events: auto;
        }
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            &.s--active {
              pointer-events: auto;
            }
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }

}
@media only screen and (min-width: 321px) and (max-width: 430px){
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
     #pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    }
     #bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
 #greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
     #redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }

  #moveRight{
    right: 1%;
    position: absolute;
    z-index: 300;
    top: 31%;
  }
  #moveLeft{
    position: absolute;
    z-index: 300;
    top: 31%;
  }
    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 18px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2%;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 12px;
        height: 31px;
        width: 150px;
        text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
    }
    .carousel-item-image{
        z-index: 145;
        width: 93%;
        padding-left: 9%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .item_description{
        font-family: Omnes;
    color: white;
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 7%;
    }
    .bottomProduct{
        display: flex;
        flex-direction: column;
    }
    .product-qty{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        border-radius: 37px;
        height: 44px;
        border: none;
        display: flex;
        color: white;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
    }
    .ProductInfo{ 
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap{
        width: 90%;
        padding-top: 9%;
    }
    .slider__slide .s--active{
        translate: 0; 

    }
    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &.s--active {
          pointer-events: auto;
        }
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            &.s--active {
              pointer-events: auto;
            }
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }
}
@media only screen and (max-width: 480px) and (min-width: 431px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
 #pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    }
 #bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
 #greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
 #redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }

  #moveRight{
    right: 1%;
    position: absolute;
    z-index: 300;
    top: 31%;
  }
  #moveLeft{
    position: absolute;
    z-index: 300;
    top: 31%;
  }
    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 23px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0%;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 12px;
        height: 31px;
        width: 38%;
        margin-left: 2%;
        font-size: 14px;
        text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
    }
    .carousel-item-image{
        z-index: 145;
        width: 93%;
        padding-left: 9%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .item_description{
        font-family: Omnes;
        color: white;
        width: 90%;
        font-size: 18px;
        line-height: 26px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        text-align: center;
        margin-bottom: 7%;
    }
    .bottomProduct{
        display: flex;
        flex-direction: column;
    }
    .product-qty{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        border-radius: 37px;
        height: 44px;
        border: none;
        display: flex;
        color: white;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
    }
    .ProductInfo{ 
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap{
        width: 90%;
        padding-top: 9%;
    }
    .s--active{		
        position: absolute;		
        visibility: visible;		
        height: 100%;		
        margin: 0px;		
        transition: background 15s ease;		
    }
    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &.s--active {
          pointer-events: auto;
        }
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            &.s--active {
              pointer-events: auto;
            }
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }

}
@media only screen and (max-width: 599px) and (min-width: 481px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
 #pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    }
 #bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
 #greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
 #redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }

  #moveRight{
    right: 1%;
    position: absolute;
    z-index: 300;
    top: 31%;
  }
  #moveLeft{
    position: absolute;
    z-index: 300;
    top: 31%;
  }
    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 22px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 16px;
        height: 31px;
        width: 56%;
        text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 28%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
        font-size: 36px;
    }
    .carousel-item-image{
        z-index: 145;
        width: 75%;
        padding-left: 19%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .bottomProduct{
        display: flex;
    }
    .item_description{
        font-family: Omnes;
    color: white;
    width: 90%;
font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 7%;
    }
    .product-qty{
        flex-direction: column;
        margin-left: 6%;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 37px;
        height: 50px;
        border: none;
        display: flex;
        color: white;
        margin: 3% 4% 0 5%;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
    }
    .ProductInfo{ 
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap{
        width: 90%;
        padding-top: 9%;
    }
    .slider__slide .s--active{
        translate: 0; 

    }
    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &.s--active {
          pointer-events: auto;
        }
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            &.s--active {
              pointer-events: auto;
            }
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }

}
@media only screen and (max-width: 768px) and (min-width: 600px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
 #pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    }
 #bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
 #greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
 #redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }

  #moveRight{
    right: 7%;
    position: fixed;
    z-index: 300;
  }
  #moveLeft{
    position: fixed;
    z-index: 300;
    left: 8%;
  }
  .carousel_nav{
    position: fixed;
    z-index: 400;
    top: 45%;
}

    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 24px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 18px;
        height: 31px;
        width: 53%;
       text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 28%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 2%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
        font-size: 36px;
    }
    .carousel-item-image{
        z-index: 145;
        width: 75%;
        padding-left: 19%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .bottomProduct{
        display: flex;
    }
    .item_description{
        font-family: Omnes;
    color: white;
    width: 90%;
font-size: 20px;
line-height: 31px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 7%;
    }
    .product-qty{
        flex-direction: column;
        margin-left: 6%;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 37px;
        height: 50px;
        border: none;
        display: flex;
        color: white;
        margin: 3% 4% 0 5%;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    // .pages{
    //     padding: 5% 2% 10%;
    // }
    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        padding: 5% 0;
        display: flex;
        flex-direction: column;
    }
    .ProductInfo{ 
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap{
        width: 90%;
        padding-top: 9%;
    }
    .slider__slide{
        position: absolute; 
        visibility: hidden;
        z-index: 0;
        overflow: hidden;
        height: 0px;
        // transition: background-color 10s cubic-bezier(0.24, 0.72, 0.81, -0.18);

    }
    .slider__slide.s--prev{
        position: absolute; 
        visibility: hidden;
        z-index:0;
        // transition: background 5s ease-out;
       
    }
    .slider__slide.s--active{
           position: absolute;
           visibility: visible;
           z-index: 2;
           width: -webkit-fill-available;
           overflow: auto;

        // transition: background 15s ease;

    }
    
    .s--active{
        position: absolute;
        visibility: visible;
        height: 100%;
        margin: 0px;
        transition: background 15s ease;
    }
    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &.s--active {
          pointer-events: auto;
        }
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            &.s--active {
              pointer-events: auto;
            }
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }

}
@media only screen and (min-width: 769px) and (max-width: 900px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
     #pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    } 
#bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
#greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
#redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }
.carousel_nav{
    position: fixed;
    top: 35%;
    z-index: 300;
}
  #moveRight{
       position: fixed;
       z-index: 300;
       right: 9%;
  }
  #moveLeft{
    position: fixed;
    z-index: 300;
    left: 9%;
  }
    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 24px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 18px;
        height: 31px;
        width: 53%;
        text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 28%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 2%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
        font-size: 36px;
    }
    .carousel-item-image{
        z-index: 145;
        width: 75%;
        padding-left: 19%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .bottomProduct{
        display: flex;
    }
    .item_description{
        font-family: Omnes;
    color: white;
    width: 90%;
font-size: 20px;
line-height: 31px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 7%;
    }
    .product-qty{
        flex-direction: column;
        margin-left: 6%;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 37px;
        height: 50px;
        border: none;
        display: flex;
        color: white;
        margin: 3% 4% 0 5%;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    // .pages{
    //     padding: 5% 2% 10%;
    // }
    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        height: -webkit-fill-available;
        // padding: 5% 0;
        display: flex;
        flex-direction: column;
    }
    .ProductInfo{ 
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap {
        width: 69%;
        align-self: center;
        padding-top: 17%;
        padding-right: 7%;
    }
    .slider__slide{
        position: absolute; 
        visibility: hidden;
        z-index: 0;
        overflow: hidden;
        height: 0px;
        // transition: background-color 10s cubic-bezier(0.24, 0.72, 0.81, -0.18);

    }
    .slider__slide.s--prev{
        position: absolute; 
        visibility: hidden;
        z-index:0;
        // transition: background 5s ease-out;
       
    }
    .slider__slide.s--active{
           position: absolute;
           visibility: visible;
           z-index: 2;
           width: -webkit-fill-available;

        // transition: background 15s ease;

    }
    
    .s--active{
        position: absolute;
        visibility: visible;
        height: 100%;
        margin: 0px;
        overflow: auto;
        transition: background 15s ease;
    }
    
    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &.s--active {
          pointer-events: auto;
        }
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            &.s--active {
              pointer-events: auto;
            }
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }

}
@media only screen and (max-width: 1024px) and (min-width: 901px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
    #pinkbck{
        background: radial-gradient(134.1% 61.32% at 56.11% 40.78%, #DA2C75 0%, #990C47 100%);
    }
   #bluebck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #00BEE3 0%, #04B0DC 35.29%, #0B97CE 68.24%, #137CBF 100%);
    }
  #greenbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
    }
#redbck{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #CF0837 0%, #6D0102 100%);
    }

  #moveRight{
    z-index: 300;
    left: 46%;
    position: fixed;
    background-color: rgba(0,0,0,0);
    border: 0px;
  }
  #moveLeft{
    z-index: 300;
    left: 2%;
    position: fixed;
    background-color: rgba(0,0,0,0);
    border: 0px;
  }
  #moveLeft:after{
      border: 0px;
      transition: 0s;

  }
  #moveRight:after{
    border: 0px;
}

  .carousel_nav{
    position: fixed;
    top: 48%;
    z-index: 400;
  }
  .carousel_nav:after{
    border: 0px;
  }
  .slider__control:after{
    border: 0px;
  }
  .carousel__icon{
      border: 0px;
  }
  .slider__control svg:hover{
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
}
    .pages{
        // background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        // padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
        margin-left: 5%;
    
    }

    .active{
        z-index: 1;
       display: flex;
       visibility:visible;
     }
     
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 24px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: left;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        position:relative;
        transition: 0.6s all ease-in-out;
    }
    .item-category-info{
        font-size: 18px;
        height: 31px;
        width: 76%;
        text-align: left;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 0%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 2%;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: left;
        margin-top: 0%;
        margin-bottom: 0;
        font-size: 36px;
    }
    .carousel-item-image{
        z-index: 145;
        width: 75%;
        padding-left: 19%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .bottomProduct{
        display: flex;
        flex-direction: column;
    }
    .item_description{
        font-family: Omnes;
        color: white;
        width: 90%;
        font-size: 20px;
        margin-left: 5%;
        line-height: 26px;
        margin-top: 5%;
        text-align: left;
        margin-bottom: 7%;
    }
    .product-qty{
        display: flex;
    flex-direction: row;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 90%;
    }
    .QtyPicker{
    position: relative;
    justify-self: flex-end;
    align-self: center;
    }
    // .qty_title{
    //     font-family: Omnes;
    //     color: white;
    //     margin: -5%;
    // }
    .addToBag{
        width: 90%;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 37px;
        height: 50px;
        border: none;
        display: flex;
        color: white;
        margin: 3% 4% 0 5%;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    // .pages{
    //     padding: 5% 2% 10%;
    // }
    .pink-cookie{
        transform: rotate(45deg);
        width: 48%;
        
    }
    .ProductImg{
        z-index: 145;
    }
    .ProductItem{
        width: 100%;
        margin: 0px;
        height: -webkit-fill-available;
        padding: 5% 0;
        display: flex;
        flex-direction: row;
    }
    .ProductInfo{ 
        width: 100%;
    margin-left: 6%;
    display: flex;
    align-self: center;
    }
    .ProductTitle{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategoryCalories{
        font-family: Omnes SemiCond;
        color: white;
        display: flex;
        flex-direction: row;
    
    }
    .ProductTop{
        display:flex;
    }
    .ProductPrice{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ProductCategory .ProductCalories .ProductDescrip{
        font-family: Omnes SemiCond;
        color: white;
    }
    .ImgWrap{
        width: 90%;
        align-self: center;
    }
    .slider__slide{
        position: absolute; 
        visibility: hidden;
        z-index: 0;
        // transition: background-color 10s cubic-bezier(0.24, 0.72, 0.81, -0.18);

    }
    .slider__slide.s--prev{
        position: absolute; 
        visibility: hidden;
        z-index:0;
        // transition: background 5s ease-out;
       
    }
    .slider__slide.s--active{
           position: absolute;
           visibility: visible;
           z-index: 2;
           width: -webkit-fill-available;

        // transition: background 15s ease;

    }
    
    .s--active{
        position: absolute;
        visibility: visible;
        height: 100%;
        margin: 0px;
        transition: background 15s ease;
    }



    .slider{
        overflow: hidden;
     @mixin sliderReady {
        .slider.s--ready & {
          @content;
        }
    }
      } &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        &__slides {
            position: relative;
            height: 100%;
          }
        
          &__slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
        
            
            @mixin slidePrev {
              .slider__slide.s--prev & {
                @content;
              }
            }
        
            @mixin slideActive {
              .slider__slide.s--active & {
                @content;
              }
            }
        }
    }
    .qty_title {
        font-family: Omnes;
        font-size: 20px;
        color: white;
        margin: 0px 40% 0 7%;
        align-self: center;
        justify-self: flex-start;
    }
    

}
