@media only screen and (max-width: 320px) {
    .product-body{
        margin: 0px;

    }
    body{
        margin: 0px;
    }
  #moveRight{
    right: 1%;
    position: absolute;
    z-index: 300;
    top: 31%;
  }
  #moreLeft{
    position: absolute;
    z-index: 300;
    top: 31%;
  }
    .carousel{
        background: radial-gradient(134.1% 61.32% at 53.6% 39.63%, #359768 0%, #295A43 100%);
        margin: 0;
        padding: 5% 2% 10%;
        height: 100%;
    }

   #carousel-item{
        display: flex;
        flex-direction: column;
    }
    #carouself-info-top{
        flex-direction: column;
        display: flex;
    
    }
    .imageWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exlDaM {width: 100%;
        margin: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

    }
    .item_price{
        color: white;
        font-size: 18px;
        font-family: Omnes SemiCond;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2%;
    }
    .carousel-info{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .item-category-info{
        font-size: 12px;
        height: 31px;
        width: 140px;
        text-align: center;
        align-self: center;
    }
    .item_category{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_calories{
        color: white;
        margin: 2% 7% 0 0;
        font-family: Omnes SemiCond;
        font-style: normal;
        font-weight: 500;
    }
    .item_title{
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0;
    }
    .carousel-item-image{
        z-index: 145;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .imageWrap{
        width: 100%;
        display: flex;
        margin: 20% 0 20% 0;
        flex-direction: column;
    }
    .item_description{
        font-family: Omnes;
    color: white;
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 7%;
    }
    .product-qty{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: fit-content;
    }
    .qty_title{
        font-family: Omnes;
        color: white;
        margin: -5%;
    }
    .addToBag{
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        border-radius: 37px;
        height: 44px;
        border: none;
        display: flex;
        color: white;
    }
    .addToBag:hover{
        background: rgba(248, 255, 255, 0.65);
        color: black;
    }
    .addToBag h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .pages{
        padding: 5% 2% 10%;
    }
}

