$animate: all 0.2s ease-in-out;
.navWrap{
    font-family: omnes-semicond, sans-serif;
    font-style: normal;
    font-weight: 500;
    height: 100%;
    padding: 0;
    margin: 0;

}


.mobile-nav-wrap ul{
    list-style: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;



}
.mobile-nav-wrap{
    height: 100%;
    background: linear-gradient(360deg, #8FD5EF 38.43%, #54C8E8 96.29%, #439ABF 101.49%);
}

.navWrap li a:hover{
    color: white;
    transition: 0.1s ease-in-out;
    &:before{
        color: white;
        position: absolute;
        bottom: -5%;
        width: 100%;
        height: 5px;
        transition: 0.2s ease-in-out;
        background-color: white;
    }
    &.hover-1 {
        &:before,
        &:after {
          left: 0;
        }
    }
}
.mobile-header-nav {
    width: 300px;
}
.mobile-header-nav li {
    padding: 5% 1%;
}
.navWrap li a{
    color: #000000;
    text-decoration: none;
    font-size: 30px;
      margin: 0 0;
      padding: 0;
      transition: $animate;
      position: relative;
      &:before,
      &:after {
        color: white;
        content: "";
        position: absolute;
        bottom: -5%;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        opacity: 100;
        background-color:white;
      }
      &.hover-1 {
        &:before,
        &:after {
          left: 0;
        }
      }
}

.mobile-nav-left {
    font-size: 15px;
}
.mobile-nav-left{
    width: 80px;
    height: 34px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.mobile-nav-left img{
    height: 75%; 
}
.mobile-nav-left p {
    width: 25%;
    padding: 10px; 
}
.mobile-nav-left a{
    color: #000000;
    text-decoration: none;
}
.menu-hide{
    display: none;
}
.navVisible{
    height: 50px;
    display: flex;
    align-content: center;
}

.body{
    margin: 0px;
}
body {
    margin: 0px;
}
.menu-visible{
    transition: 5s ease-in;
    display: flex;
}